# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.build-tools/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Android signing
android/keystore.properties
android/app/*-release.jks
android/app/*-release.keystore

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# EAS / Google Play
google-service-account.json

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android
